<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <appSettings>
    <add key="VritualPath" value="http://120.27.8.104:9080/static/" />
    <add key="FilePath" value="D:/upload/" />
    <add key="ServerIp" value="120.27.8.104" />
  </appSettings>
  <superSocket maxWorkingThreads="500" minWorkingThreads="50">
    <servers>
      <!--websocket-->
      <server name="WebSocketServer" serverType="DigitalMineServer.SuperSocket.SocketServer.WebSocketServer,DigitalMineServer" textEncoding="UTF-8" ip="Any" port="8079" maxRequestLength="4096" disableSessionSnapshot="true" maxConnectionNumber="500" clearIdleSession="true" clearIdleSessionInterval="60" idleSessionTimeOut="120">
      </server>
      <!--定位信息端口-->
      <server name="Jt808Server" serverType="DigitalMineServer.SuperSocket.SocketServer.Jt808Server,DigitalMineServer" ip="Any" port="8080" maxConnectionNumber="2000" disableSessionSnapshot="true" clearIdleSession="true" clearIdleSessionInterval="60" idleSessionTimeOut="120">
      </server>
      <!--客户端指令端口，指令传输-->
      <server name="ClientServer" serverType="DigitalMineServer.SuperSocket.SocketServer.ClientServer,DigitalMineServer" textEncoding="UTF-8" ip="Any" port="8081" disableSessionSnapshot="true" maxConnectionNumber="1000" clearIdleSession="true" clearIdleSessionInterval="60" idleSessionTimeOut="120">
      </server>
      <!--客户端等待车载视频端口，车载视频上传后在此端口连接中下发-->
      <server name="ClientVideoServer" serverType="DigitalMineServer.SuperSocket.SocketServer.ClientVideoServer,DigitalMineServer" ip="Any" port="8082" disableSessionSnapshot="true" maxConnectionNumber="500" clearIdleSession="true" clearIdleSessionInterval="30" idleSessionTimeOut="15">
      </server>
      <!--客户端等待车载音频端口，车载音频上传后在此端口连接中下发-->
      <server name="ClientAudioServer" serverType="DigitalMineServer.SuperSocket.SocketServer.ClientAudioServer,DigitalMineServer" ip="Any" port="8083" disableSessionSnapshot="true" maxConnectionNumber="500" clearIdleSession="true" clearIdleSessionInterval="5" idleSessionTimeOut="10">
      </server>
      <!--客户端等待车载录像视频端口，车载录像视频上传后在此端口连接中下发-->
      <server name="ClientHistoryVideoServer" serverType="DigitalMineServer.SuperSocket.SocketServer.ClientHistoryVideoServer,DigitalMineServer" ip="Any" port="8084" disableSessionSnapshot="true" maxConnectionNumber="500" clearIdleSession="true" clearIdleSessionInterval="5" idleSessionTimeOut="10">
      </server>
      <!--客户端等待车载录像音频端口，车载录像音频上传后在此端口连接中下发-->
      <server name="ClientHistoryAudioServer" serverType="DigitalMineServer.SuperSocket.SocketServer.ClientHistoryAudioServer,DigitalMineServer" ip="Any" port="8085" disableSessionSnapshot="true" maxConnectionNumber="500" clearIdleSession="true" clearIdleSessionInterval="5" idleSessionTimeOut="10">
      </server>
      <!--车载音频上传端口-->
      <server name="VehicleAudioServer" serverType="DigitalMineServer.SuperSocket.SocketServer.VehicleAudioServer,DigitalMineServer" ip="Any" port="8086" disableSessionSnapshot="true" maxConnectionNumber="500" clearIdleSession="true" clearIdleSessionInterval="5" idleSessionTimeOut="10">
      </server>
      <!--车载视频上传端口-->
      <server name="VehicleVideoServer" serverType="DigitalMineServer.SuperSocket.SocketServer.VehicleVideoServer,DigitalMineServer" ip="Any" port="8087" maxRequestLength="4096" disableSessionSnapshot="true" maxConnectionNumber="500" clearIdleSession="true" clearIdleSessionInterval="50" idleSessionTimeOut="10">
      </server>
      <!--车载历史音频上传端口-->
      <server name="VehicleHistoryAudioServer" serverType="DigitalMineServer.SuperSocket.SocketServer.VehicleHistoryAudioServer,DigitalMineServer" ip="Any" disableSessionSnapshot="true" port="8088" maxConnectionNumber="500" clearIdleSession="true" clearIdleSessionInterval="5" idleSessionTimeOut="10">
      </server>
      <!--车载历史视频上传端口-->
      <server name="VehicleHistoryVideoServer" serverType="DigitalMineServer.SuperSocket.SocketServer.VehicleHistoryVideoServer,DigitalMineServer" ip="Any" maxRequestLength="4096" sendBufferSize="980" disableSessionSnapshot="true" port="8089" maxConnectionNumber="500" clearIdleSession="true" clearIdleSessionInterval="5" idleSessionTimeOut="10">
      </server>
      <!--用户端数据处理终端端口-->
      <server name="DataServer" serverType="DigitalMineServer.SuperSocket.SocketServer.DataServer,DigitalMineServer" ip="Any" disableSessionSnapshot="true" port="8090" maxConnectionNumber="500" clearIdleSession="true" clearIdleSessionInterval="60" idleSessionTimeOut="120">
      </server>
      <!--监控视频端口-->
      <server name="MontorServer" serverType="DigitalMineServer.SuperSocket.SocketServer.MontorServer,DigitalMineServer" ip="Any" maxRequestLength="8192" disableSessionSnapshot="true" port="8091" maxConnectionNumber="500" clearIdleSession="true" clearIdleSessionInterval="5" idleSessionTimeOut="5">
      </server>
      <!--监控文件上传端口-->
      <server name="MonitorFileServer" serverType="DigitalMineServer.SuperSocket.SocketServer.MonitorFileServer,DigitalMineServer" ip="Any" maxRequestLength="2048" disableSessionSnapshot="true" port="8092" maxConnectionNumber="500" clearIdleSession="true" clearIdleSessionInterval="5" idleSessionTimeOut="10">
      </server>
      <!--主动安全报警附件上传端口-->
      <server name="AcSafeFileServer" serverType="DigitalMineServer.SuperSocket.SocketServer.AcSafeFileServer,DigitalMineServer" ip="Any" receiveBufferSize="66560" maxRequestLength="66560" disableSessionSnapshot="true" port="8093" maxConnectionNumber="500" clearIdleSession="true" clearIdleSessionInterval="5" idleSessionTimeOut="10">
      </server>
      <!--F10手表端口-->
      <server name="F10WatchServer" serverType="DigitalMineServer.SuperSocket.SocketServer.F10WatchServer,DigitalMineServer"  ip="Any" port="8094" disableSessionSnapshot="true" maxConnectionNumber="1000" clearIdleSession="true" clearIdleSessionInterval="60" idleSessionTimeOut="90">
      </server>
    </servers>
  </superSocket>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WeatherWSSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WeatherWSSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://ws.webxml.com.cn/WebServices/WeatherWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="WeatherWSSoap"
        contract="WebRefWeather.WeatherWSSoap" name="WeatherWSSoap" />
      <endpoint address="http://ws.webxml.com.cn/WebServices/WeatherWS.asmx"
        binding="customBinding" bindingConfiguration="WeatherWSSoap12"
        contract="WebRefWeather.WeatherWSSoap" name="WeatherWSSoap12" />
    </client>
  </system.serviceModel>
</configuration>